*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, open sans;
}

.margen-interno{
    padding: 0 50px;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background-image: url(../imagenes/variadas\ grande/imagen-cabecera2.png);
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;

        display: flex;
        flex-flow: column nowrap;

    }

        .menu{
            background: rgb(0, 0, 0, .2); 
            /* TRANSPARENCIA DE LA BARRA MENU */
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        }

            .logo{
                flex: 1 1 auto;
                justify-content: center;
                padding: 25px;
            }

            .nav{
                flex: 5 1 auto;
                justify-content: center;
            }

            .social{
                flex: 1 1 auto;
                justify-content: center;
            }




/* ICONOSSSSS FACE E INSTA */
.bi{
    padding: 15px;
}

.textoPrincipal{
    height: 595px;
    display: flex;
    align-items: center;
    
}

.textoPrincipal h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight:600;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
}


/* ------------INICIO --------------- */

.section{
    display: flex;
    padding: 10px; 
}

    .articules{
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

        .article{
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 2px;
            flex: 1 1 15%;
            background: #3a8ab27c;
        }

                .article img{
                    width: 350px;
                    padding: px;
                    height: 300px;
                    object-fit: cover;
                }

                .article a{
                    height: 450px;
                }
                

    .aside{
        background: #5887B9;
        flex: 1 1 auto;
        padding: 15px;
        width: 100%;
    }

        .aside{
            text-align: center;
            padding: 15px;
            color: white;
            font-size: 18px;
        }


            .icon-laptop{
                    color: rgb(255, 255, 255);
                    font-size: 55px;
            }

            .icon-lock{
                color: rgb(255, 255, 255);
                font-size: 55px;
        }

            .icon-envelope-o{
                color: rgb(255, 255, 255);
                font-size: 55px;
        }

                .icon-phone{
                    color: rgb(255, 255, 255);
                    font-size: 55px;
            }


            .icon-caddie-shopping-streamline{
                color: rgb(255, 255, 255);
                font-size: 55px;
            }








.footer{
    background-color: rgb(127, 193, 255);
    display: flex;
    justify-content: center;
}
    .pie{
        background-color: #3A8AB2;
        width: 40%;
    }

    

/* ---------- FORMULARIO CONTACTO--------------- */



.contenedorformulario{
    display: flex;
    justify-content: center;
    height: 565px;
}


    .contacto {
        padding: 60px 60px; 
        width: 50%;
    }
    
    .contacto .titulo {
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 60px;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
        }

    .contacto .formulario {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
    .contacto .formulario input[type="text"],
    .contacto .formulario input[type="email"],
    .contacto .formulario textarea {
            border: 2px solid #cecece;
            border-radius: 5px;
            padding: 15px 20px;
            font-size: 20px;
            color: #a4a4a4; }
    .contacto .formulario input[type="text"],
    .contacto .formulario input[type="email"] {
            width: 49%;
            margin-bottom: 15px; }
    .contacto .formulario textarea {
            width: 100%;
            height: 100px;
            min-width: 100%;
            margin-bottom: 15px;
            min-height: 100px;
            max-height: 300px; }
    .contacto .formulario .boton {
            margin: auto;
            background: #3895ea;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 15px 40px; }
    .contacto .formulario .boton:hover {
            background: #387bea; }









/* ------------------------------------------------------ */



/* ------------------------------------------------------ */




    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 8px;
    }

    nav a:hover {
        background-color: rgba(253, 253, 253, 0.548);
        color:#054968
}



    .social a:hover {
        background-color: rgba(253, 253, 253, 0.548);
        color:#054968
}


.asidetext{
    font-size: 30px;
}








/* ------------------------------------------ */

/* ---------------------PORTAFOLIO----------------------- */

/* ------------------------------------------ */





.galeria{
    font-family: 'Poppins', sans-serif, open sans;
}

.h1galeria{
    text-align: center;
    margin: 25px 0 15px 0;
    font-weight:300;
}

.linea{
    border-top: 5px solid #2977b3;
    margin-bottom: 40px;
}

.contenedor_imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor_imagenes .imagen{
    width: 33%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 192, 0.781);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
}


.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height: 0;
    cursor: pointer;
}








/* ------------------------------------------------------ */

/* RESPONSIVE */

/* ------------------------------------------------------ */



@media all and (max-width: 900px){


    .section{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        height: auto;
    }

    .aside{
        flex-direction: column;
    }

    .textoPrincipal h1{
        font-size: 30px;
    }

    /* PORTAFOLIO */
    .contenedor_imagenes{
        width: 95%;
    }
}



@media all and (max-width: 600px){

    .article{
        flex-direction: column;
    }

    .nav{
        margin: 20px 20px;
    }

    .article{
        width:90%
    }

    .article{
        width: 48%;
    }

        /* PORTAFOLIO */
        .contenedor_imagenes{
            width: 90%;
        }
        .contenedor_imagenes .imagen{
            width: 48%;
        }
}


@media all and (max-width: 450px){


        /* PORTAFOLIO */
    .h1galeria{
        font-size: 22px;
    }

    .contenedor_imagenes{
        width: 98%;
    }
    .contenedor_imagenes .imagen{
        width: 80%;
    }
}






@media all and (max-width: 360px){

    .article{
        flex-direction: column;
    }

    .aside{
        flex-direction: column;
    }

    .textoPrincipal h1{
        font-size: 25px;
    }

    .nav{
        margin: 10px;
    }

    .social{
        margin: 10px;
    }

    .article{
        width:100%
    }


}





